# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDE files
.idea/
*.iml
*.nbinfo
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Log files
*.log

# Local database files
*.db
*.db-journal

# OS-specific
.DS_Store
Thumbs.db
